@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background: #fafbfc;
  color: #222;
}

aside {
  min-width: 16rem;
}

main {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}
